WS/server/WebContent/wsdl/Library.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://library.upem.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://library.upem.fr" xmlns:intf="http://library.upem.fr" xmlns:tns1="http://book.upem.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://library.upem.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://book.upem.fr"/>
   <element name="add">
    <complexType>
     <sequence>
      <element name="isbn" type="xsd:string"/>
      <element name="title" type="xsd:string"/>
      <element name="author" type="xsd:string"/>
      <element name="price" type="xsd:float"/>
      <element name="introductionDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType/>
   </element>
   <element name="getAllBooks">
    <complexType/>
   </element>
   <element name="getAllBooksResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllBooksReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBook">
    <complexType>
     <sequence>
      <element name="isbn" type="xsd:string"/>
      <element name="exemplary" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBookResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllBooksResponse">

      <wsdl:part element="impl:getAllBooksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBookRequest">

      <wsdl:part element="impl:sellBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllBooksRequest">

      <wsdl:part element="impl:getAllBooks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBookResponse">

      <wsdl:part element="impl:sellBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Library">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllBooks">

         <wsdl:input message="impl:getAllBooksRequest" name="getAllBooksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllBooksResponse" name="getAllBooksResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBook">

         <wsdl:input message="impl:sellBookRequest" name="sellBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:sellBookResponse" name="sellBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LibrarySoapBinding" type="impl:Library">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllBooks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllBooksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllBooksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sellBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sellBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LibraryService">

      <wsdl:port binding="impl:LibrarySoapBinding" name="Library">

         <wsdlsoap:address location="http://localhost:8080/Library-WS/services/Library"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
