WS/server/WebContent/wsdl/UserManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://user.upem.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://user.upem.fr" xmlns:intf="http://user.upem.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://user.upem.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registerUser">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUserResponse">
    <complexType/>
   </element>
   <element name="disconnect">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="disconnectResponse">
    <complexType>
     <sequence>
      <element name="disconnectReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="connect">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectResponse">
    <complexType>
     <sequence>
      <element name="connectReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerUserRequest">

      <wsdl:part element="impl:registerUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectResponse">

      <wsdl:part element="impl:connectResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disconnectResponse">

      <wsdl:part element="impl:disconnectResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectRequest">

      <wsdl:part element="impl:connect" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="disconnectRequest">

      <wsdl:part element="impl:disconnect" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserResponse">

      <wsdl:part element="impl:registerUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserManager">

      <wsdl:operation name="registerUser">

         <wsdl:input message="impl:registerUserRequest" name="registerUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerUserResponse" name="registerUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disconnect">

         <wsdl:input message="impl:disconnectRequest" name="disconnectRequest">

       </wsdl:input>

         <wsdl:output message="impl:disconnectResponse" name="disconnectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connect">

         <wsdl:input message="impl:connectRequest" name="connectRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectResponse" name="connectResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserManagerSoapBinding" type="impl:UserManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registerUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disconnect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disconnectRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="disconnectResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserManagerService">

      <wsdl:port binding="impl:UserManagerSoapBinding" name="UserManager">

         <wsdlsoap:address location="http://localhost:8080/Library-WS/services/UserManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
